extends layout

block content
  h1= title
  div(class="container-fluid")
        div(class="row")
            -
                let utility = [
                    {
                        "Name": "Insta Pot",
                        "Uses": "Cooking",
                        "Cost": 200
                    },
                    {
                        "Name": "Microoven",
                        "Uses": "Baking",
                        "Cost": 300
                    },
                    {
                        "Name": "Toaster",
                        "Uses": "Gread Toast",
                        "Cost": 60
                    },                   
                ]
            each c,index in utility
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.Name}
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.Uses}
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.Cost}

                script.                
                      function buy(num)
                      {
                            alert(`You purchased item ${num+1}`)
                      }