extends layout

block content
  h1= title
  div(class="container-fluid")
        div(class="row")
            -
                let player = [
                    {
                        "Player_name": "Yuvraj Singh",
                        "Batting_style": "Left-Handed",
                        "Purchased_cost": 2000
                    },
                    {
                        "Player_name": "Dhoni",
                        "Batting_style": "Right-Handed",
                        "Purchased_cost": 3000
                    },
                    {
                        "Player_name": "Sachin",
                        "Batting_style": "Right-Handed",
                        "Purchased_cost": 1000
                    },                   
                ]
            each c,index in player
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.Player_name}
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.Batting_style}
                div(class="col-sm-2" onclick=`buy(${index})`) #{c.Purchased_cost}

                script.                
                      function buy(num)
                      {
                            alert(`You purchased item ${num+1}`)
                      }